* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    background-image: url("img/fundo.jpg");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: end;
    width: 100%;
    grid-auto-flow: column;
}

.logo {
    font-style: oblique;
    position: absolute;
    font-family: gabriola;
    font-size: 2.5em;
    left: 4vh;
}

nav li {
    margin: 0 5em 0 0;
    text-align: center;
    position: relative;
    top: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.6em;
    box-shadow: 0 8px 30px 0 rgba(69, 74, 143, 0.37);
    backdrop-filter: blur(7px);
    background-color: none;
    border-radius: 2px;
}

a:hover {
    backdrop-filter: blur(20vh);
    -webkit-backdrop-filter: blur(20px);
    transition-delay: 120ms;
}

.texto_apresentacao h3,
h1 {
    width: 30%;
    height: min-content;
    margin-left: 1em;
    font-size: 1.7em;
    font-family: gabriola;
    color: rgb(97, 102, 102);
}

.texto_apresentacao_1 {
    position: relative;
    top: 4vh;
}

.texto_apresentacao_2 {
    display: flex;
    position: relative;
    top: 40vh;
    font-size: 1.1em;
}

.texto_apresentacao h1 {
    position: relative;
    text-align: center;
    font-size: 4.2em;
    margin-left: 0.5em;
}

.texto_final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: aliceblue;
    font-size: 3em;
    border: 1px solid beige;
    width: 30%;
    padding: 0.6em;
    top: 140vh;
    left: 40%;
    flex-wrap: wrap;
}

.texto_final p {
    border: 1 px solid #ffff;
}

.enfeite {
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
}

@media (min-width: 500px) and (max-width: 900px) {
    main {
        background-image: url("img/fundo.jpg");
        background-size: cover;
        background-position: center;
        height: 300vmin;
    }
    nav {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
    }
    .logo {
        font-style: oblique;
        position: absolute;
        font-family: gabriola;
        font-size: 2.5em;
        left: 4vh;
    }
    nav li {
        margin: 0 1em 0 0;
        text-align: center;
        position: relative;
        top: 10px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: end;
    }
    /*Toda a parte de escrita agora*/
    .texto_apresentacao h3,
    h1 {
        width: 30%;
        height: min-content;
        margin-left: 1em;
        font-size: 1.7em;
        font-family: gabriola;
        color: rgb(97, 102, 102);
    }
    .texto_apresentacao_1 {
        position: relative;
        top: 5vh;
    }
    .texto_apresentacao_2 {
        display: grid;
        position: relative;
        top: 60vmax;
        font-size: 1em;
    }
    .texto_apresentacao h1 {
        position: relative;
        text-align: center;
        font-size: 3em;
        margin-left: 0.5em;
        top: 10vh;
    }
    .texto_final {
        display: flex;
        position: relative;
        color: aliceblue;
        justify-items: center;
        font-size: 3em;
        border: 1px solid beige;
        width: 30vh;
        height: 17vh;
        left: 40%;
        text-align: center;
        top: 30%;
    }
}

@media screen and (max-width: 499px) {
    main {
        background-image: url("img/fundo.jpg");
        background-size: cover;
        background-position: center;
        height: 150vmax;
        width: 100%;
    }
    nav {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
    }
    .logo {
        font-style: oblique;
        position: absolute;
        font-family: gabriola;
        font-size: 2.5em;
        left: 4vh;
    }
    nav li {
        margin: 0 1em 0 0;
        text-align: center;
        position: relative;
        top: 10px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: end;
    }
    /*Toda a parte de escrita agora*/
    .texto_apresentacao h3,
    h1 {
        width: 30%;
        height: min-content;
        margin-left: 1em;
        font-size: 1.5em;
        font-family: gabriola;
        color: rgb(97, 102, 102);
    }
    .texto_apresentacao h1 {
        position: relative;
        text-align: center;
        font-size: 2.5em;
        margin-left: 0.5em;
        top: 5vmax;
    }
    .texto_apresentacao_1 {
        position: relative;
        top: 10vmax;
    }
    .texto_apresentacao_2 {
        display: grid;
        position: relative;
        top: 50vmax;
        font-size: 1.1em;
    }
    .texto_final {
        display: grid;
        position: relative;
        color: aliceblue;
        justify-items: center;
        font-size: 3em;
        border: 1px solid beige;
        width: 25vh;
        height: 15vh;
        left: 40%;
        text-align: center;
        top: 25vmax;
    }
}

@media screen and (min-width: 765px) and (max-width: 820px) {
    main {
        background-image: url("img/fundo.jpg");
        background-size: cover;
        background-position: center;
        height: 150vmax;
        width: 100%;
    }
    nav {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
    }
    .logo {
        font-style: oblique;
        position: absolute;
        font-family: gabriola;
        font-size: 2.5em;
        left: 4vh;
    }
    nav li {
        margin: 0 5em 0 0;
        text-align: center;
        position: relative;
        top: 10px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: end;
    }
    /*Toda a parte de escrita agora*/
    .texto_apresentacao h3,
    h1 {
        width: 30%;
        height: min-content;
        margin-left: 1em;
        font-size: 1.5em;
        font-family: gabriola;
        color: rgb(97, 102, 102);
    }
    .texto_apresentacao h1 {
        position: relative;
        text-align: center;
        font-size: 2.5em;
        margin-left: 0.5em;
        top: 10vmax;
    }
    .texto_apresentacao_1 {
        position: relative;
        top: 20vmax;
        font-size: 2em;
    }
    .texto_apresentacao_2 {
        display: grid;
        position: relative;
        top: 50vmax;
        font-size: 1.5em;
    }
    .texto_final {
        display: grid;
        position: relative;
        color: aliceblue;
        justify-items: center;
        font-size: 3em;
        border: 1px solid beige;
        width: 20vmax;
        height: 10vmax;
        left: 40%;
        text-align: center;
        top: 45vmax;
    }
}